.color {background-color: lightblue}

footer {border-top: 8px solid #4aaaa5; background-color: turquoise; }

header {border-top: 8px solid #4aaaa5; background-color: turquoise; }

body { background-color: slategrey;}

textarea {background-color: beige;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkslategray;}
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 }



 li a:hover {
    background-color: gray;
  }

 
  
  div.gallery:hover {
    border: 1px solid ; background-color: gray;
  }
   
 
  
  
  
  


  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: aquamarine;
    color: darkgrey;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  
  div {
    border-radius: 5px;
    background-color: lightcyan;
    padding: 20px;
  }


